bcrypt==5.0.0
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.0.0
Flask-MySQLdb==2.0.0
gunicorn==25.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
mysql-connector-python==8.2.0
mysqlclient==2.2.8
packaging==26.0
pillow==12.1.1
protobuf==4.21.12
qrcode==8.2
Werkzeug==3.0.1
